body{
    height: 100vh;
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.5vw;
}
header{
    height: fit-content;
    margin: 2% 8%;
}

div.header__logo{
    width: 10%;
}

.header__menu{
    display: inline;
}
a.menu:hover{
    color:rgba(255, 67, 66);
    text-decoration: underline rgba(255, 67, 66);
    transition-duration: 0.5s;
}

main{
    margin: 0% 8%;
}
.parents{
    display: block;
    position: relative;
}
h1.main{
    position: absolute;
    bottom: 30%;
    text-align: center;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 700;
    line-height: 5vw;
    color: rgb(75, 56, 56);
    width: 100%;
}

.button{
    background-color: rgba(255, 67, 66); 
    border-radius: 25px 25px 25px 25px;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 66%);
    padding: 1% 3% 1% 3%;
    color: black;
    opacity: 0.8;
}
.main__button{
    position: absolute;
    left: 70%;
    bottom: 10%;
}
.button:hover{
    background-color: rgba(150,118,119);
    opacity: 1;
    transition-duration: 0.5s;
    color:  rgba(255, 67, 66);
}

.background{
    background-image: url(../images/1_katie-harp-W2L_vvgK4-c-unsplash.jpg);
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vw;
    width: 100%;
    opacity: 0.6;
}


.about__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2%;
    background:linear-gradient(90deg, rgba(209,217,220), rgb(209,217,220,0.5));
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 2%;
    color:  rgba(255, 67, 66); 
    text-shadow: 1px 1px 1px rgb(0 0 0 / 66%)
}
.container__about{
    border-radius: 30% 0 30% 0;

}

.container__services{
    background:linear-gradient(180deg, rgba(209,217,220), rgb(209,217,220,0.5));
    background-repeat: no-repeat;
    background-size: cover;
    color:  rgba(255, 67, 66); 
    text-shadow: 1px 1px 1px rgb(0 0 0 / 66%);
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    padding-bottom: 3%;
}

.img_flex{
width: 50%;
}

.text_flex{
    width: 50%;
    margin: auto auto;
    text-align: center;
}

.text{
    width: 100%;
    margin-top: 3%;
    text-align: center;
}

.container__price{
    background:linear-gradient(180deg, rgba(209,217,220), rgb(209,217,220,0.5));
    background-repeat: no-repeat;
    background-size: cover;
    color:  rgba(255, 67, 66); 
    text-shadow: 1px 1px 1px rgb(0 0 0 / 66%);
    padding: 3% 2%;
}

.table{
    margin-left: 1%;
    font-size: 2vw;
    color:  rgba(255, 67, 66); 
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.77);
}

h4{
    text-align: center;
    margin: 2% auto;
}


/*Стили для контактов и формы*/
.container__contacts{
    padding-bottom: 5%
}
h3{
    text-align: center;
    padding-top: 5%;
}

.container__icon{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5%;
    width: 50%;
    margin: 3% auto;
    background-color: rgba(240, 248, 255, 0.512);
    border-radius: 20px;
    padding: 3%;
}

.icon{
    width: 8vw;
    margin: 0 auto;
}

a.text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
a:hover{
    color:rgba(255, 67, 66);
    text-decoration: underline rgba(255, 67, 66);
    transition-duration: 0.5s;
}
.icon_text{
    position: relative;
    right: 30%;
}

.container__form{
    width: 50%;
    margin: 0 auto;
    background-color: rgba(240, 248, 255, 0.512);
    border-radius: 20px;
    padding: 3%;
}

.form{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 1% auto;
}

input,textarea{
    margin: 1vw 0;
    border-radius: 10px;
    padding: 1% 1.5%;
	border: none;
	font-weight: 400;
	font-size: 1,5vw;
}
input:focus, textarea:focus {
	outline: 2px solid rgba(255, 67, 66);
	outline-offset: 2px;
}

/* footer*/

footer{
    background-color: rgb(209,217,220);
    margin-top: 5vw;
    height: 10vw;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;

}